<header>
    <nav>
        <div class="nav-links">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/team' | relative_url }}">Team</a>
            <a href="{{ '/connect' | relative_url }}">Connect</a>
        </div>
        <div class="logo">
            <a href="{{ '/' | relative_url }}"><img src="{{ site.baseurl }}/assets/images/logo-circ.png" alt="Fr. Conor Meditations Logo"></a>
        </div>
        <div class="theme-toggle">
            <button id="theme-toggle-btn" class="theme-toggle-btn" onclick="toggleTheme()">Dark Mode</button>
        </div>
    </nav>
</header>